body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #eef5ff, #f8fbff);
}

#root {
  min-height: 100vh;
}

.app {
  max-width: 900px;
  margin: auto;
  padding: 50px 20px;
}